body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: white;
}

/**
 * General Layout
 */
.AppContainer {
	margin: auto;
	max-width: 980px;
	padding: 0 1rem;
}

/**
 * Header component
 */
.AppHeader {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 0 1rem;
	border-bottom: 0.15rem solid black;
}

.AppHeader--Brand {
	display: flex;
	align-items: center;
	margin: 0 0 -1px 0;
	padding: 1rem;
	background: black;
	color: white;
}
.AppHeader--Brand--Icon {
	width: 1em;
	height: 1em;
	margin-right: 0.5rem;
}

.AppHeader--Nav {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.AppHeader--Nav--Link {
	padding: 0.75rem 1rem;
	text-decoration: none;
	text-align: center;
	border-radius: 0.5rem;
}
	.AppHeader--Nav--Link:hover {
		background-color: whitesmoke;
	}

.AppHeader--Nav--LinkDisabled {
	color: grey;
	cursor: not-allowed;
}
	.AppHeader--Nav--LinkDisabled:hover {
		background-color: transparent;
	}

.AppHeader--Nav--Link--Tease {
	display: inline-block;
	padding: 0.25em 0.75em;
	font-size: 75%;
	text-transform: uppercase;
	background-color: gainsboro;
	border-radius: 99em;
}

.AppHeader--Session {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.AppHeader--Session--Avatar {
	border-radius: 100%;
	margin-right: 0.5rem;
}

/**
 * Forms
 */
.FormField {
	margin: 2rem 0;
}
	.FormField label {
		display: block;
		margin: 0 0 0.25rem 0;
	}
	.FormField input {
		box-sizing: border-box;
		padding: 0.5rem;
		font-size: 1rem;
	}

.FormField--Help {
	margin: 0.25rem 0 0 0;
	font-size: 90%;
	font-style: italic;
}

.FormActions {
	display: flex;
	justify-content: flex-end;
	text-align: right;
}

.FormLayout {
	display: flex;
	align-items: flex-start;
}

.FormLayout--Description,
.FormLayout--Fields {
	box-sizing: border-box;
	flex-shrink: 0;
}

.FormLayout--Description {
	padding-top: 1rem;
	width: 40%;
}
	.FormLayout--Description p {
		line-height: 1.5em;
	}

.FormLayout--Fields {
	width: 60%;
}
	.FormLayout--Fields .FormField input {
		width: 100%;
	}

/**
 * Buttons
 */
.Button {
	display: flex;
	align-items: center;
	padding: 0.75em 2em;
	cursor: pointer;
	border: 0.15em solid black;
	background-color: black;
	color: white;
	font-size: 1em;
	line-height: 1em;
	outline: 0;
	appearance: none;
}
	.Button svg {
		width: .95em;
		height: .95em;
		margin-right: 0.5rem;
	}
	.Button span {
		flex-shrink: 0;
	}

/**
 * Public stuff
 */
.PublicForm {
	box-sizing: border-box;
	margin: 4rem auto;
	padding: 2rem;
	max-width: 32rem;
}
	.PublicForm .FormField input {
		width: 100%;
	}

.PublicForm--Header {
	border-bottom: 0.1rem solid black;
	padding: 1rem 0;
}
	.PublicForm--Header p {
		line-height: 1.5em;
	}

	.PublicForm--Header h2 {
		margin: 0;
		font-size: 3rem;
	}
