<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nucleus</title>
		<link rel="stylesheet" href="/static/css/app.css" type="text/css">
	</head>
	<body>
		<header class="AppHeader">
			<h1 class="AppHeader--Brand">
				<svg xmlns="http://www.w3.org/2000/svg" class="AppHeader--Brand--Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" /></svg>
				<span>nucleus</span>
			</h1>
			<nav class="AppHeader--Nav">
				<a class="AppHeader--Nav--Link AppHeader--Nav--LinkDisabled" href="#">
					Dashboard
					<span class="AppHeader--Nav--Link--Tease">Soon</span>
				</a>
				<a class="AppHeader--Nav--Link AppHeader--Nav--LinkDisabled" href="#">
					Files
					<span class="AppHeader--Nav--Link--Tease">Soon</span>
				</a>
				<a class="AppHeader--Nav--Link" href="/web/">My Account</a>
				<a class="AppHeader--Nav--Link" href="/web/users">Users</a>
			</nav>
			<div class="AppHeader--Session">
				<img class="AppHeader--Session--Avatar" src="/web/me/avatar" alt="My Avatar" width="48" height="48">
				<div class="AppHeader--Session--Actions">
					<div>{{ .user.Name }}</div>
					<form class="AppHeader--Session--Actions--Logout" action="/web/logout" method="POST">
						<input type="hidden" name="_csrf" value="{{ .csrfToken }}">
						<button class="Button ButtonSmall">Log Out</button>
					</form>
				</div>
			</div>
		</header>
		<div class="AppContainer">
