<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nucleus</title>
		<link rel="stylesheet" href="/static/css/app.css" type="text/css">
	</head>
	<body>
		<header class="AppHeader">
			<h1 class="AppHeader--Brand">Nucleus</h1>
			<nav class="AppHeader--Nav">
				<a class="AppHeader--Nav--Link AppHeader--Nav--LinkDisabled" href="#">Dashboard</a>
				<a class="AppHeader--Nav--Link AppHeader--Nav--LinkDisabled" href="#">Files</a>
				<a class="AppHeader--Nav--Link" href="/web/">My Account</a>
			</nav>
		</header>
		<div class="AppContainer">
